extends layout

block content
    div.callout.large
        div.row.column.text-center
            h1 Welcome to my Digital Home
            h2.subheader Please have a seat!
    div.row
        div.large-7.columns
            h2 About
            p My name is Samuel Hess, in short Sam.
            p.
                When I was born, the Internet was in its infancy and the World Wide Web did not exist yet.
                Music and audio plays were stored on analogue tapes and cameras required a photographic film.
                Everything was better, but now everything is digital!
        div.large-5.columns
            img(class='thumbnail', src='http://www.stylepark.com/db-images/cms/flexform/img/p284984_488_336-1.jpg')
    div.row
        hr
        div.large-4.columns
            h4 Hobby
            p.
                Solving crosswords, <a href="https://jass.bluewin.ch/" target="_blank">playing cards</a>,
                hiking, playing squash or watch Roger Federer playing.
        div.large-4.columns
            h4 Profession
            p
                | Meanwhile I have several of them. See my
                a(href='/cv')  CV
                |  for more information.
        div.large-4.columns
            h4 Blog
            p
                | Coming soon