extends layout

block content
    div.callout.large
        div.row.column.text-center
            h1 Welcome to my Digital Home
            h2.subheader Please have a seat!
    div.row
        div.large-7.columns
            h2 About
            p My name is Samuel Hess, in short Sam.
            p.
                When I was born, the Internet was in its infancy and the World Wide Web did not exist yet.
                Music and audio plays were stored on analogue tapes and cameras required a photographic film. Yes,
                before the advent of the smart phone we used to have cameras for those who remember.
                So, I am not really a digital native, but rather an early witness of the digital revolution
                which has touched many areas of our lives in recent years.
        div.large-5.columns
            img(class='thumbnail', src='/images/couch.jpg')
    div.row
        hr
        div.large-8.columns
            h4 Profession
            p.
                Following my passion for computers I studied electrical engineering. After some years of professional
                experience in the area of machine-to-machine (M2M) communication I decided to also study economics with the
                objective to interconnect the two domains. This is where I first heard about the Internet of Things (IoT),
                an extrapolation of what we have seen so far. And I got excited about it and decided to become an expert. See
                my <a href="/cv">CV</a> and <a href="/contact">contact me</a> if you are interested in a collaboration.
        div.large-4.columns
            h4 Hobby
            p.
                Luckily, my hobby is hard to separate from the profession. But, of course there are some other leisure activities such as
                solving brainteasers including crosswords, <a href="https://jass.bluewin.ch/" target="_blank">playing cards</a>,
                hiking, playing squash or watch Roger Federer playing.
