extends layout

block content
    div.row
        div.medium-12.columns
            h2 Articles And Tutorials
            table
                tr
                    th Category
                    th Title
                tr
                    td
                    td
                        a(href='http://cwbuecheler.com/web/tutorials/2014/restful-web-app-node-express-mongodb/')
                            | Creating a simple RESTful web app with node.js, Express and mongoDB
                tr
                    td
                    td
                        a(href='http://yeoman.io/learning/index.html') Getting Started with Yeoman
                tr
                    td
                    td
                        a(href='https://blog.udemy.com/node-js-tutorial') Node.js Tutorial
                tr
                    td
                    td
                        a(href='http://www.indeed.com/jobtrends?q=ruby%2C+node.js%2C+php&l=') Jobtrends
            ul
                li
                    a(href='http://cdimage.debian.org/cdimage/openstack/current') OpenStack Debian Image
            ul
                li
                    a(href='http://www.informationweek.com/mobile/mobile-devices/rise-of-things-iots-role-in-business-processes/a/d-id/1317010') Rise Of Things: IoT's Role In Business Processes


