//
   Created by Samuel on 20.11.2015.
extends layout
block content
    div.row
        div.medium-12.columns
            h2 Quotations
            p Here are some quotations I like:
        div.medium-6.columns
            h3 Economy
            blockquote Price is what you pay, value is what you get
                cite Warren Buffett
            blockquote In the factory we manufacture lipstick, in the store we sell hope.
                cite Charles Revson
            blockquote There's no such thing as a free lunch.
                cite TANSTAAFL
            blockquote Für das Gewesene gibt der Kaufmann nichts
                cite Schmalenbach
        div.medium-6.columns
            h3 Work
            blockquote It doesn't make sense to hire smart people and then tell them what to do; we hire smart people
                | so they can tell us what to do.
                cite Steve Jobs
            blockquote
                | I have looked in the mirror every morning and asked myself: "If today were the last day of my life,
                | would I want to do what I am about to do today?" And whenever the answer has been "No" for too many
                | days in a row, I know I need to change something.
                cite Steve Jobs
    div.row
        div.medium-6.columns
            h3 Future / Forecast
            blockquote More than the past, I am interested in the future, because in it I intend to live.
                cite Albert Einstein
            blockquote Forecasts are difficult, especially when they concern the future
                cite Albert Einstein
            blockquote There is no reason for any individual to have a computer in his home.
                cite Ken Olsen (1977)
            blockquote The Internet is just a hype
                cite Bill Gates, 1995)
            blockquote The real transformation of the IoT will occur through the end-to-end digitization of processes.
                cite Setrag Khoshafian (2015)
        div.medium-6.columns
            h3 Science
            blockquote All models are wrong, but some are useful.
                cite George E. Box
            blockquote When the facts change, I change my mind
                cite John Maynard Keynes



